[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[core]
        editor = vim
[color]
        ui = true
[alias]
        st = status
        br = branch
        co = checkout
        ci = commit
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --no-merges
