"*":
  core:
    disabledPackages: [
      "exception-reporting"
    ]
    projectHome: "~/projects"
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  welcome:
    showOnStartup: false
