"*":
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "exception-reporting"
      "linter-shellcheck"
    ]
    ignoredNames: [
      ".git"
      ".idea"
      ".vagrant"
    ]
    projectHome: "~/projects"
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "git-diff":
    showIconsInEditorGutter: true
  linter: {}
  "linter-puppet-lint":
    executablePath: "/usr/bin/puppet-lint"
    oldVersion: false
  "linter-ui-default":
    showPanel: true
  "markdown-writer":
    fileExtension: ".md, .markdown"
  "one-dark-ui": {}
  "package-sync":
    forceOverwrite: true
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.restructuredtext"
    ]
    locales: [
      "en-GB"
    ]
  "symbols-tree-view": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".puppet.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 4
