packages: [
  "atom-beautify"
  "busy-signal"
  "editorconfig"
  "hiera-eyaml"
  "highlight-line"
  "intentions"
  "language-ini"
  "language-patch"
  "language-puppet"
  "language-restructuredtext"
  "language-tmux"
  "language-varnish"
  "linter"
  "linter-puppet-lint"
  "linter-shellcheck"
  "linter-ui-default"
  "markdown-writer"
  "open-recent"
  "package-sync"
  "rst-preview"
  "sort-lines"
  "ssh-config"
  "symbols-tree-view"
]
