packages: [
  "editorconfig"
  "hiera-eyaml"
  "language-puppet"
  "linter"
  "linter-puppet-lint"
  "linter-shellcheck"
  "markdown-writer"
  "open-recent"
  "package-sync"
  "sort-lines"
  "symbols-tree-view"
]
